<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .pfoot{
            font-size: 2vh;
        }
    </style>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-3 pfoot">
                <h5>ATHITH MITHRA <br> Industrial Technologies</h5>
                <p class="pfoot">No 7/2, SLB School South Road, <br>Ramavarmapuram, Nagercoil, <br>Kanyakumari District. <br>Tamilnadu, India-629001.</p>
            </div>
            <div class="col-md-3 pfoot">
                <h5>LINKS</h5>
                <p class="pfoot"><a href="">Home</a></p>
                <p class="pfoot"><a href="">Products</a></p>
                <p class="pfoot"><a href="">Business</a></p>
                <p class="pfoot"><a href="">Training</a></p>
                <p class="pfoot"><a href="">Contact us</a></p>
            </div>
            <div class="col-md-3 pfoot">
                <h5>PRODUCTS</h5>
                <p class="pfoot">DC Power supplies (5v, 12v, 15v, 24v, 36v, 48v)</p>
                <p class="pfoot">Regulated Power Supplies (RPS)</p>
                <p class="pfoot">Decade Boxes (Resistance, Inductance, Capacitance)</p>
                <p class="pfoot">AC Voltage Regulator</p>
                <p class="pfoot">Single Phase Inverter</p>
                <p class="pfoot">Three Phase Inverter (SPWM/SVPWM Based)</p>
                <p class="pfoot">Solar On grid Inverter</p>
                <p class="pfoot">Electronic Components</p>
                <p >Electronic Components</p>
                <p >Electric Vehicle Charging Station</p>
            </div>
            <div class="col-md-3">
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
            </div>
        </div>
    </div>
</body>
</html>