{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .pfoot{
            font-size: 2vh;
        }
        .bottom{
            background-image:linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url("{% static 'images/foot.jpg' %}");
           
            background-size: cover;
            /* background-position: center; */
            font-weight: 900;
        }
    </style>
</head>
<body>
    <div class="bottom text-light container-fluid">
        <br><br>
        <div class="row" style="padding-left: 9%;">
            <div class="col-md-3 col-sm-3 pfoot">
                <h5>ATHITH MITHRA <br> Industrial Technologies</h5>
                <p class="pfoot">No 7/2, SLB School South Road, <br>Ramavarmapuram, Nagercoil, <br>Kanyakumari District. <br>Tamilnadu, India-629001.</p>
            </div>
            
            <div class="col-md-2 col-sm-2 pfoot">
                <h5>LINKS</h5>
                <p class="pfoot"><a href="">Home</a></p>
                <p class="pfoot"><a href="">Products</a></p>
                <p class="pfoot"><a href="">Business</a></p>
                <p class="pfoot"><a href="">Training</a></p>
                <p class="pfoot"><a href="">Contactus</a></p>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5>PRODUCTS</h5>
                <p class="pfoot">DC Power supplies (5V, 12V, 15V, 24V, 36V, 48V)</p>
                <p class="pfoot">Regulated Power Supplies (RPS)</p>
                <p class="pfoot">Decade Boxes (Resistance, Inductance, Capacitance)</p>
                <p class="pfoot">AC Voltage Regulator</p>
                <p class="pfoot">Single Phase Inverter</p>
                <p class="pfoot">Three Phase Inverter (SPWM/SVPWM Based)</p>
                <p class="pfoot">Solar On grid Inverter</p>
                <p class="pfoot">Electronic Components</p>
                <p class="pfoot">Electric Vehicle Charging Station</p>
                <p class="pfoot">Solar off grid Inverter</p>

            </div>
            
            <div class="col-md-3  col-sm-3">
                <p class="pfoot">AC Motor Drives</p>
                <p class="pfoot">DC Motor Drives</p>
                <p class="pfoot">Micro Controller</p>
                <p class="pfoot">Smart Grid monitoring system</p>
                <p class="pfoot">FPGA controller</p>
                <p class="pfoot">IoT based Applications</p>
                <p class="pfoot">Sensor modules</p>
                <p class="pfoot">Medical Image Processing App</p>
                <p class="pfoot">Funded Research Projects</p>
                <p class="pfoot">AI based Robotics Applications</p>
                <p class="pfoot">PCB Design and Fabrication</p>
            </div>
        </div>
    </div>
</body>
</html>