{% extends "header.html" %}
{% load static %}
{% block content %}
<style>
        body{
        background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("{% static 'images/HOM2.jpg' %}");
            width: 100%;
            height: 100%;
            /* height:80vh; */
            background-size: cover;
            background-position: center;
          background-attachment: fixed;
    }
.pro-banner{
        
        font-weight: 900;
        display: flex;
        flex-direction: column; 
        justify-content: center;  
        align-items: center;  
        height: 60vh;        
        }
        p{
        line-height: 200%;
        word-spacing: 7px;
        
        font-size: 2.5vh;
        text-align: justify;
    }
    .aboutpara{
        text-indent: 60px;
    }
</style>
<div class="pro-banner text-light">
    <div class="text-center">  
   
   <h1 style="font-size: 4.5vw;font-weight: 900;">ATHITH MITHRA</h1>
   <h3 style="font-size: 2vw;font-weight: 800;">Industrial Technologies Private Ltd.</h3><br>
   <h3 style="font-size: 2vw;font-weight: 800;">Projects</h3>
   </div> 
</div>
<br><br>
<div class="container-fluid bg-light">
<div class="container">
        <br><br>
        <div>
                <!-- <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">Projects</h1> -->
            </div>
            <br><br>
            <div>
                <p class="aboutpara"> AMIT believes in “TEAM WORK”.  We, at AMIT entirely work as a “TEAM” to complete complex projects and deliver the expected work with best quality. AMIT focuses on bringing upcoming ideas and concepts into reality by developing real time projects that are beneficial to the society.</p>
            </div>
            <br><br>
            <div>
                <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">PV SYSTEM APPLICATIONS</h1>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-8">
                        <div class="row ">

                          <div class="d-flex justify-content-around flex-wrap">    
                        <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                               <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">01</span> Boost Converter</h5>
                                
                        </div>
                        <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">02</span> Buck-Boost  Converter</h5>
                                 
                         </div>
                        </div>

                        <div class="d-flex justify-content-around flex-wrap mt-4">    
                                <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                       <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">03</span> Cuk Converter</h5>
                                        
                                </div>
                                <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                        <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">04</span> SEPIC Converter</h5>
                                         
                                 </div>
                        
                        </div>
                        <div class="d-flex justify-content-around flex-wrap mt-4">    
                                <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                       <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">05</span> Landsman Converter</h5>
                                        
                                </div>
                                <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                        <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">06</span> Quasi Z Source Converter</h5>
                                         
                                 </div>
                        
                        </div>
                        <div class="d-flex justify-content-around flex-wrap mt-4">    
                                <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                       <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">07</span> Interleaved DC-DC Converters</h5>
                                        
                                </div>
                                <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                        <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">08</span> Integrated DC-DC Converters</h5>
                                         
                                 </div>
                        
                        </div>
                                                

                        </div>
                </div>
                



                <div class="col-md-4 d-flex justify-content-center align-items-center mt-4">
                        
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">NON ISOLATED DC CONVERTERS</h1>
                </div>
            </div>

<br><br>

            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center mt-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;"> ISOLATED DC-DC CONVERTERS</h1>

                </div>
                <div class="col-md-4">
                        <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">01</span> Fly back Converter</h5>
                                 
                         </div>
                </div>
                <div class="col-md-4">
                        <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">02</span> Forward Converter</h5>
                                 
                         </div>  
                </div>
            </div>


            <br><br>

            <div class="row">
                
                <div class="col-md-4">
                        <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">01</span> Bidirectional Buck-Boost Converter</h5>
                                 
                         </div>
                </div>
                <div class="col-md-4">
                        <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">02</span> SEPIC-ZETA Converter</h5>
                                 
                         </div>  
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center mt-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;"> BATTERY CONVERTERS</h1>

                </div>
            </div>
<br><br>
            <div>
                <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">EV APPLICATIONS</h1>
            </div>
            <br><br>

            <div class="row">
                
                <div class="col-md-6 d-flex justify-content-center ">
                       
                        <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">01</span> AC Motor based EV System</h5>
                                 
                         </div>
                       
                </div>
                <div class="col-md-6 d-flex justify-content-center ">
                        <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">02</span> DC Motor based EV System</h5>
                                 
                         </div>
                </div>
        
            </div>
<br>
            <div class="row">
                
                <div class="col-md-6 d-flex justify-content-center ">
                       
                        <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">03</span> Special Electrical Machines based EV System</h5>
                                 
                         </div>
                       
                </div>
                <div class="col-md-6 d-flex justify-content-center ">
                        <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">04</span> Isolated EV Battery System</h5>
                                 
                         </div>
                </div>
        
            </div>

            <br><br>
            <div>
                <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">FATCS DEVICES</h1>
            </div>
            <br><br>

            <div class="row">
                
                <div class="col-md-6 d-flex justify-content-center ">
                       
                        <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">01</span> DVR</h5>
                                 
                         </div>
                       
                </div>
                <div class="col-md-6 d-flex justify-content-center ">
                        <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">02</span> STATCOM</h5>
                                 
                         </div>
                </div>
        
            </div>
<br>
            <div class="row">
                
                <div class="col-md-6 d-flex justify-content-center ">
                       
                        <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">03</span> DSTATCOM</h5>
                                 
                         </div>
                       
                </div>
                <div class="col-md-6 d-flex justify-content-center ">
                        <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">04</span> UPFC</h5>
                                 
                         </div>
                </div>
        
            </div>

            <br><br>

            <div class="row">
                
                <div class="col-md-4">
                        <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">01</span> DEEP LEARNING</h5>
                                 
                         </div>
                </div>
                <div class="col-md-4">
                        <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                                <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">02</span> MACHINE LEARNING</h5>
                                 
                         </div>  
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center mt-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;"> DIGITAL IMAGE PROCESSING</h1>

                </div>
            </div>
<br><br>
<div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center mt-4">
                <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;"> CASCADE H BRIDGE INVERTER TYPE</h1>

        </div>
        <div class="col-md-4">
                <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">01</span> Symmetrical Inverter</h5>
                         
                 </div>
        </div>
        <div class="col-md-4">
                <div style="width: 300px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h5> <span style="background-color: #0745e5;padding: 4px;font-weight: 900;color: white;">02</span> Asymmetrical Inverter</h5>
                         
                 </div>  
        </div>
    </div>
    <br><br>

    <div class="row">
        
        <div class="col-md-6 d-flex justify-content-center ">
               
                <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">  MATRIX CONVERTER</h1>
                         
                 </div>
               
        </div>
        <div class="col-md-6 d-flex justify-content-center ">
                <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;"> VOLTAGE REGULATORS</h1>
                         
                 </div>
        </div>

    </div>

    <div class="row">
        
        <div class="col-md-6 d-flex justify-content-center ">
               
                <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">  PYTHON BASED WORKS</h1>
                         
                 </div>
               
        </div>
        <div class="col-md-6 d-flex justify-content-center ">
                <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">JAVA BASED CLOUD AND CLOUD SECURITY</h1>
                         
                 </div>
        </div>

    </div>

    <div class="row">
        
        <div class="col-md-6 d-flex justify-content-center ">
               
                <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">  WIRELESS SENSOR NETWORK</h1>
                         
                 </div>
               
        </div>
        <div class="col-md-6 d-flex justify-content-center ">
                <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">VLSI DESIGN</h1>
                         
                 </div>
        </div>

    </div>

    <div class="row">
        
        <div class="col-md-6 d-flex justify-content-center ">
               
                <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">  ANTENNA DESIGN IN HFSS AND CST</h1>
                         
                 </div>
               
        </div>
        <div class="col-md-6 d-flex justify-content-center ">
                <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">ANSYS</h1>
                         
                 </div>
        </div>

    </div>
    <div class="row">
        
        <div class="col-md-6 d-flex justify-content-center ">
               
                <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">  CAD DESIGN</h1>
                         
                 </div>
               
        </div>
        <div class="col-md-6 d-flex justify-content-center ">
                <div style="width: 500px;height: 150px;border: 3px solid #0745e5;border-radius: 10px;padding: 5px;" class="mt-4 mr-4">
                        <h1 class="text-center" style="font-size: 30px;font-weight: 700;color: darkblue;">MULTI LEVEL INVERTER</h1>
                         
                 </div>
        </div>

    </div>





</div>
<br><br>
</div>


{% include 'footer.html' %} 

{% endblock %}